/* debug */

/* nav {
    height: 142px;
    background-color: #E679E6;
} */


/* main {
    height: 670px;
    background-color: #0786F2;
} */

/* #nav {
    height: 86px;
    background-color: #ABCFE7;
} */

/* footer {
    height: 62px;
    background-color: #8803FE; */

/* /debug */


/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

#main-container {
    width: calc(75%);
    margin: 30px auto;
}

.clearfix::after {
    content: "";
    display:table;
    clear: both;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-40 {
    margin-bottom: 40px;
}
.list-inline > li, a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.txt-color-gray {
    color: #A4A4A4;
}

.txt-color-white {
    color: white;
}

.big-txt {
    font-size: 30px;
}

.bolder-txt {
    font-weight: bolder;
}

div.container-transparent{
    height: 100%;
    background-color:rgba(0,0,0,0.2); 
}
/* /common */

/* body */
body {
    font-family: 'Montserrat', sans-serif;
}
/* header */

/* logo */
#container-logo {
    width: calc(20%);
    border-right: 1px solid #A4A4A4;
}

#logo{
    float: left;
    height: 70px;
    width: 70px;
    margin: 0 20px 0 0;
    background-image: url(../img/logo.png);
    background-size: cover;
}

#text-logo{
    line-height: 70px;
    font-size: 27px;
    font-weight:bold;
}

/* nav */
.list-inline > li {
    padding: 10px 10px 10px 0;
}

/* banner */
.banner {
    height: 60%;
    border-radius: 10px;
    background-image: url(../img/banner.jpg);
    background-size:cover;
    background-position: center;
}

#txt-container{
    width: 80%;
    height: 30%;
    padding: 300px 0 40px 70px;
}

/* main */
aside.left,
aside.right {
    float: left;
    width: 23%;
    height: 538px;
    /* background-color: #ABCFE7; */
}

article {
    float: left;
    width: 50%;
    height: 538px;
    margin: 0 2%;           
    /* background-color: #ABCFE7; */
}

.bg-img1 {
    height: 40%;
    background-image: url(../img/img-1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.bg-img2 {
    height: 40%;
    background-image: url(../img/banner-2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.bg-img3 {
    height: 40%;
    background-image: url(../img/img-3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
footer {
    text-align: center;
}

footer span {
    color: red;
}